@import "tailwindcss";

@theme inline {
  --font-display: var(--font-playfair);
  --font-body: var(--font-montserrat);

  --color-primary: #C5A059;
  --color-background: #050505;
  --color-accent: #3d0a0c;
  --color-surface: #0a0a0a;
  --color-old-gold: #b7860b;
  --color-glass: rgba(10, 10, 10, 0.7);
}

@utility vintage-border {
  border: 1px solid rgba(197, 160, 89, 0.2);
  position: relative;
}

@utility vintage-border::before {
  content: "";
  position: absolute;
  inset: 6px;
  border: 1px solid rgba(197, 160, 89, 0.05);
  pointer-events: none;
}

@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.animate-slow-zoom {
  animation: slow-zoom 20s ease-in-out infinite alternate;
}

body {
  background-color: var(--color-background);
  color: #ffffff;
  font-family: var(--font-body);
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

@utility wood-texture {
  background-color: #221d10;
  background-image: linear-gradient(rgba(34, 29, 16, 0.92), rgba(34, 29, 16, 0.92)), url(https://lh3.googleusercontent.com/aida-public/AB6AXuBV1ebis5DokCAL5NN_1ktzXT2zpsfFmUDhKEP7XEZ3NuxKC-Wwc-PXiKiINk71MFGl4kcstUx2pieSrc_XsayQO63CfnFIl8qb0Z0ghewm_Ptw9vZWfT-AvyvxO3ZjJtwYgDsaKUw55Xt8lG5AcwniL52E9R-EdfZXLCu5KTaUgHux5BbQo0w_IY_rVzNy1Tiy0BfDIzbU82WdFhonRsNljyevcoziYXxX1x8infV00R_eodm4dS9aBYGjNGWtBGckcrSF45ZfdQ);
  background-size: cover;
}

@utility leather-texture {
  background-color: #2a2418;
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuDYRd4klFq9FiCtPmP5up2MYfQj69x0UIUH6jdn5bulNP9eG6iKhuWCQ6VFOQ4rMDSDnJcJS02xS5NzyxLFeSZ3zuHwXfuJH1MRFH9re6PYPNKn-R0GmAD8VWvyzUdBRsvoqVe_uVJBKUyEnFD0bvx62tHzNvCBWgRjj6Syl_duIyPO02s0GJeF6nrbzZXbD7wRY3Xe2cOZ2F8qH44PVl8lq305HxhlhriL5O7XRSy8mAwe3hb7KUeNdMFRxtsh4-sodk2ceyFXaw);
  background-size: cover;
}

@utility spotlight-glow {
  box-shadow: 0 0 20px 2px rgba(183, 134, 11, 0.4);
}

@utility paper-texture {
  background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 20px 20px;
}

@utility sticky-cta-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding: 1.25rem;
  background: linear-gradient(transparent, #1a160d 30%);
}